@*
    //
    //  Index.cshtml
    //  Affluxis
    //
    //  Created by Affluxis on 16/09/2022.
    //  Copyright © 2022 Affluxis. All rights reserved.
    //
*@

<section class="page-title-area bg-cover1">
    <div class="page-title-wrapper section-spacing">
        <div class="page-title text-center white-text">
            <h1 class="heading-1">Demo</h1>
        </div>
    </div>
</section>
<div class="layout-area bg-color1">
    <div class="layout-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <article class="pupolar-article">
                        <header class="popular-article-top">
                            <div class="popular-top-logo">
                                <div class="popular-logo-icon"><img src="~/images/popular-logo2.png" alt="service icon"></div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5"><a href="/demo/lpre/">Live</a></h5>
                            </div>
                        </header>
                        <p>Experience cross-platform real-time audio/video streaming with multiple publishers/viewers.</p>
                        <a href="/demo/lpre/" class="pupular-btn" style="float:right">Go ></a>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="pupolar-article">
                        <header class="popular-article-top">
                            <div class="popular-top-logo">
                                <div class="popular-logo-icon"><img src="~/images/popular-logo3.png" alt="service icon"></div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5"><a href="/demo/rpre/">Record</a></h5>
                            </div>
                        </header>
                        <p>Experience cross-platform real-time audio/video recording with multiple publishers/viewers.</p>
                        <a href="/demo/rpre/" class="pupular-btn" style="float:right">Go ></a>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <article class="pupolar-article">
                        <header class="popular-article-top">
                            <div class="popular-top-logo">
                                <div class="popular-logo-icon"><img src="~/images/popular-logo4.png" alt="service icon"></div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5"><a href="/demo/avpre/">AVChat</a></h5>
                            </div>
                        </header>
                        <p>Experience cross-platform real-time audio/video chat for multiple users.</p>
                        <a href="/demo/avpre/" class="pupular-btn" style="float:right">Go ></a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
