@*
    //
    //  Sv.cshtml
    //  Affluxis
    //
    //  Created by Affluxis on 01/12/2022.
    //  Copyright © 2022 Affluxis. All rights reserved.
    //
*@

@using Web.Preso;
@model PresoBase

<script src="~/js/affluxis.js"></script>
<section class="page-title-area bg-cover1">
    <div class="page-title-wrapper section-spacing">
        <div class="page-title text-center white-text">
            <h1 class="heading-1">Sample Screen</h1>
        </div>
    </div>
</section>
<section class="blog-area bg-color1">
    <div class="blog-wrapper section-spacing" style="padding-top:30px;">
        <div class="container">
            <div class="error-page text-center">
                <span>Experience cross-desktop real-time screen publishing with viewing. Your token is "<span id="vToken"></span>".</span>
                <br />
                <div id="vVid"></div>
                <br /><br />
                <a href="/sample/spre/">< Back</a>
            </div>
        </div>
    </div>
</section>
<script>
    var isConnected, isConnecting;
    var vEntity, vToken;
    var vNc, vNs, vVidNsPlayEl, vSo;
    var vUser, vUri;

    $(function () {
        isConnected = isConnecting = false;
        vUri = 'ccc.affluxis.com';
        vToken = '@Model.Token';
        vUser = Af2Base.getGuidNoDash();
        vEntity = { name: vUser };
        vVidNsPlayEl = document.getElementById('vVid');
        vVidNsPlayEl.style.cssText = 'width:100%;';
        $('#vToken').text(vToken);
        initNc();
    });
    function initInst() {
        vNsPlay = new Af2NetStream(vNc);
        vNsPlay.onStatus = function (info) {
            vVidNsPlayEl.innerHTML = '';
            var rndr = this.getRenderer();
            if (rndr === undefined) return;
            rndr.autoplay = rndr.controls = true;
            rndr.style.cssText = 'width:100%;';
            vVidNsPlayEl.appendChild(rndr);
        };
        vSo = Af2SharedObject.get('screen');
        vSo.onSync = function (info) {
            if (info.code !== 'change') return;
            console.log(vSo.data['screen']['isScreen']);
            vNsPlay.play(vSo.data['screen']['isScreen']);
        };
        vSo.connect(vNc);
    }
    function initNc() {
        isConnecting = true;
        vNc = new Af2NetConnection();
        vNc.onStatus = function (event) {
            isConnected = false;
            if (event.code !== Af2Constants.AF2_NETCONNECTION_CONNECT_SUCCESS) {
                isConnecting = false;
                alert('No Internet connection.');
                initNc();
                return;
            }
            if (event.code === Af2Constants.AF2_NETCONNECTION_CONNECT_INVALID_APP) {
                isConnecting = false;
                alert('Invalid token.');
                return;
            }
            isConnecting = false;
            isConnected = true;
            initInst();
        };
        vNc.connect(vUri + '/sample_screen/' + vToken, vEntity);
    }
</script>
